.login {
    display: flex;
    height: 900px;
    &__section-one {
        background-color: var(--color-primary);
        width: 609px;
        height: 100vh;
    }
    &__section-two {
        background-color: var(--color-white);
        border-radius: 20px 0px 0px 20px;
        width: 100%;
        margin-left: -25px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

.section-one {
    display: flex;
    margin: 200px;
    align-items: center;
}

.section-two {
    width: 330px;
    &__title {
        color: var(--color-normal-grey);
        font-size: 32px;
    }
    &__text {
        width: 276px;
        height: 47px;
        color: var(--color-normal-grey);
        font-size: 16px;
        margin: 1rem 0;
    }
    &__forgot {
        text-align: right;
        color: var(--color-primary);
        font-size: 14px;
        margin: 5px 0;
    }
    &__divider {
        margin: 2rem 0;
        position: relative;
    }
    &__empty {
        height: 1px;
        background: var(--color-grey-dark-1);
    }
    &__label {
        color: var(--color-normal-grey);
        position: absolute;
        top: -10px;
        background: var(--color-white);
        width: 162px;
        left: 23%;
        right: 0;
        text-align: center;
        font-size: 14px;
    }
    &__termns {
        font-size: 14px;
        color: var(--color-normal-grey);
        margin: 2rem 0;

        a {
            color: var(--color-primary);
        }
    }
}