<div class="login">
	<div class="login__section-one">
		<div class="section-one">
			<div>Logo</div>
			<h1>Apprevenir</h1>
		</div>
	</div>
	<div class="login__section-two">
		<div class="section-two">
			<div class="section-two__title">Acceder</div>
			<div class="section-two__text"> Ingresa tu usuario y contraseña para obtener acceso a todas las funcionalidades</div>
			<div class="inputContainer">
					<input
					class="inputContainer__box"
					type="text"
					placeholder="Email"
					/>
					<img alt="PersonIcon" src="../../../assets/icons/email_outline.svg" class="inputContainer__icon" />
			</div>
			<div class="error-field">Error</div>
			<div class="section-two__forgot">¿Olvídaste tu contraseña?</div>
			<div class="inputContainer">
				<input
				class="inputContainer__box"
				type="text"
				placeholder="Contraseña"
				/>
				<img alt="PersonIcon" src="../../../assets/icons/lock_outline.svg" class="inputContainer__icon" />
			</div>
			<div class="error-field">Error</div>
			<div class="box-checkbox">
				<input type="checkbox" id="test1" />
				<label for="test1">Recuérdame en este dispositivo</label>
			</div>
			<button class="btn btn-primary">Acceder</button>
			<div class="section-two__divider">
				<div class="section-two__empty"></div>
				<div class="section-two__label">¿No tienes una cuenta?</div>
			</div>
			<button class="btn btn-secondary">Crear una cuenta</button>
			<div class="section-two__termns">
				Al continuar, estás confirmando que has leído nuestros <a href="">Términos y condiciones</a>  y <a href="">Política de privacidad</a>
			</div>
		</div>
	</div>
</div>