.mat-drawer.mat-drawer-side {
    box-shadow: 3px 0px 20px var(--color-gray-dark-3);
    border-radius: 0px 10px 10px 0px;
    margin-top: 70px;
    background-color: var(--color-white);
    width: 250px;
    height: 100vh;
    position: fixed;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    box-shadow: 0px 2px 10px var(--color-gray-dark-3);
    height: 70px;
    background-color: var(--color-white);
    position: fixed;
    z-index: 5;
}

.mat-icon-button {
    background: transparent;
}

.example-container {
    width: 250px;
    height: 900px;
}
  
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-drawer-container {
    display: inherit !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 2rem !important;
}

.mat-drawer-inner-container {
    position: relative;
}

.mat-menu-content:not(:empty) {
    width: 216px;
    height: auto;
}

.mat-menu-panel {
    margin-top: 27px;
    box-shadow: 0px 3px 20px #26A79E29;
    border-radius: 10px !important;
}

button.mat-menu-item {
    display: flex;
    align-items: center;
    width: 216px !important;
}

.mat-menu-item .mat-icon {
    color: var(--color-gray-dark-2);
}

//Hover menu and sidemenu

.mat-menu-item:hover:not([disabled]), 
.mat-menu-item.cdk-program-focused:not([disabled]), 
.mat-menu-item.cdk-keyboard-focused:not([disabled]), 
.mat-menu-item-highlighted:not([disabled]) {
    background: var(--color-hover);
}

.mat-tree-node:hover {
    background: var(--color-hover);
}

.mat-tree {
    width: 100%;
    height: 400px;
    overflow: auto;
}