.mat-drawer.mat-drawer-side {
    box-shadow: 3px 0px 20px var(--color-gray-dark-3);
    border-radius: 0px 10px 10px 0px;
    background-color: var(--color-white);
    width: 250px;
    height: 100vh;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    box-shadow: 0px 2px 10px var(--color-gray-dark-3);
    height: 70px;
    background-color: var(--color-white);
}

.mat-icon-button {
    background: transparent;
}

.example-container {
    width: 250px;
    height: 900px;
}
  
.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-drawer-container {
    display: inherit !important;
}