.mat-radio-outer-circle {
    border-color: var(--color-gray-dark-2);
}

.mat-radio-label-content {
    color: var(--color-normal-grey);
    font-family: 'FiratRegular';
    font-size: 16px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: #20e57e!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #20e57e;
  }