.mat-step-header .mat-step-icon {
    background-color: var(--color-grey-dark-1);
    height: 33px;
    width: 33px;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: var(--color-accent-dark);

}

.mat-step-text-label {
    font-size: 12px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-form-field {
    margin-top: 16px;
}

.mat-step-header:hover{
    background-color: transparent !important;
}

.one-steps {
    .mat-step-icon-content,
    .mat-step-header .mat-step-header-ripple {
        display: none;
    }

    .mat-stepper-horizontal-line {
        display: none;
    }

    .mat-horizontal-stepper-header .mat-step-icon {
        margin-right: 0px;
    }

    .mat-step-icon {
        border-radius: 0;
        height: 2px;
        width: 100%;
    }
    .mat-horizontal-stepper-header {
        padding: 0;
        width: 100%;
    }

    .mat-step-header .mat-step-icon-selected,
     .mat-step-header .mat-step-icon-state-done, 
     .mat-step-header .mat-step-icon-state-edit {
        height: 10px;
     }

     .mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover {
         background-color: transparent !important;
     }
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--color-accent-dark) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, 
.mat-radio-button.mat-accent .mat-radio-ripple 
.mat-ripple-element:not(.mat-radio-persistent-ripple), 
.mat-radio-button.mat-accent.mat-radio-checked 
.mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: var(--color-accent-dark) !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--color-accent-dark);
    height: 4px;
}

.mat-tab-label .mat-tab-label-content {
    display: flex !important;
    flex-direction: column !important;
}

.mat-step-header .mat-step-header-ripple {
    display: none;
    background-color: transparent;
}

.test {
    .mat-tab-label {
        height: 100px !important;
        color: var(--color-gray-dark-2);
    }
    .mat-icon {
        margin-bottom: 10px;
    }
}

.mat-tab-label:focus:not(.mat-tab-disabled) {
    color: var(--color-normal-grey);
}

.mat-tab-label-active {
    color: var(--color-normal-grey) !important;
    opacity: 1 !important;
}