<!--HOME-->
<div class="admin">
	<h1 class="admin__title app-m-top">Crear Usuario Final</h1>
	<div class="admin__card">
		<div class="section-two">
			<mat-horizontal-stepper #stepper>
				<mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
					<form [formGroup]="firstFormGroup">
						<ng-template matStepLabel>Información Personal</ng-template>
						<div>
							<div class="registration__title">Información personal</div>
							<mat-form-field class="example-full-width">
								<mat-label>Nombre</mat-label>
								<input type="text" matInput>
								<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
									Please enter a valid email address
								</mat-error>
								<mat-error *ngIf="emailFormControl.hasError('required')">
									Nombre es <strong>requerido</strong>
								</mat-error>
							</mat-form-field>
						</div>
						
						<div class="registration__box">
							<mat-form-field class="width-48">
								<mat-label>Primer Apellido</mat-label>
								<input type="email" matInput >
								<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
									Please enter a valid email address
								</mat-error>
								<mat-error *ngIf="emailFormControl.hasError('required')">
									Email is <strong>required</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="width-48">
								<mat-label>Segundo Apellido</mat-label>
								<input type="email" matInput>
								<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
									Please enter a valid email address
								</mat-error>
								<mat-error *ngIf="emailFormControl.hasError('required')">
									Email is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						
						<mat-form-field class="example-full-width">
							<mat-label>Fecha de Nacimiento</mat-label>
							<input matInput [matDatepicker]="picker">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>

						<div class="registration__gender">Género</div>
						<mat-radio-group aria-label="Select an option">
							<mat-radio-button value="1" class="app-m-right">Femenino</mat-radio-button>
							<mat-radio-button value="2">Masculino</mat-radio-button>
						</mat-radio-group>

						<div>
							<mat-form-field class="width-100">
								<mat-label>Estado Civil</mat-label>
								<mat-select>
									<mat-option>
										asdasdas
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						

						<div>
							<mat-form-field class="width-100">
								<mat-label>Nivel de Estudios</mat-label>
								<mat-select>
									<mat-option>
										asdasdas
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div class="app-flex">
							<button class="btn btn-secondary app-m-right" matStepperPrevious>Anterior</button>
							<button class="btn btn-primary" matStepperNext>Siguiente</button>
						</div>
					</form>

				</mat-step>
				<mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
					<form [formGroup]="secondFormGroup">
						<ng-template matStepLabel>Ubicación</ng-template>
						<div>
							<mat-form-field class="width-100">
								<mat-label>País</mat-label>
								<mat-select>
									<mat-option>
										asdasdas
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						

						<div>
							<mat-form-field class="width-100">
								<mat-label>Departamento</mat-label>
								<mat-select>
									<mat-option>
										asdasdas
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

						<div>
							<mat-form-field class="width-100">
								<mat-label>Ciudad</mat-label>
								<mat-select>
									<mat-option>
										asdasdas
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="app-flex">
							<button class="btn btn-secondary app-m-right" matStepperPrevious>Anterior</button>
							<button class="btn btn-primary" matStepperNext>Siguiente</button>
						</div>
					</form>
				</mat-step>

				<mat-step>
					<ng-template matStepLabel>Contacto y Acceso</ng-template>
					<mat-form-field class="example-full-width">
						<mat-label>Número de Celular</mat-label>
						<input type="email" matInput>
						<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
							Please enter a valid email address
						</mat-error>
						<mat-error *ngIf="emailFormControl.hasError('required')">
							Email is <strong>required</strong>
						</mat-error>
					</mat-form-field>

					<mat-form-field class="example-full-width">
						<mat-label>Correo Electronico</mat-label>
						<input type="email" matInput>
						<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
							Please enter a valid email address
						</mat-error>
						<mat-error *ngIf="emailFormControl.hasError('required')">
							Email is <strong>required</strong>
						</mat-error>
					</mat-form-field>

					<div class="registration__box">
						<mat-form-field class="width-48">
							<mat-label>Contraseña</mat-label>
							<input type="email" matInput >
							<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
								Please enter a valid email address
							</mat-error>
							<mat-error *ngIf="emailFormControl.hasError('required')">
								Email is <strong>required</strong>
							</mat-error>
						</mat-form-field>
						<mat-form-field class="width-48">
							<mat-label>Repetir Contraseña</mat-label>
							<input type="email" matInput>
							<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
								Please enter a valid email address
							</mat-error>
							<mat-error *ngIf="emailFormControl.hasError('required')">
								Email is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>
					<div class="app-flex">
						<button class="btn btn-secondary app-m-right" matStepperPrevious>Anterior</button>
					</div>
				</mat-step>
			</mat-horizontal-stepper>
		</div>
	</div>
</div>