<div class="login">
	<div class="login__section-one">
		<div class="section-one">
			<img alt="PersonIcon" src="../../../assets/logo/LOGO-COLOR-BLANCO.svg" class="logo-login" />
		</div>
		<img alt="PersonIcon" src="../../../assets/bg/appevenir-home-login.svg" class="logo-bg" />
	</div>
	<div class="login__section-two">
		<div class="section-two">
			<div class="section-two__title">Crear una cuenta</div>
			<mat-horizontal-stepper linear #stepper>
				<mat-step [stepControl]="firstFormGroup">
					<form [formGroup]="firstFormGroup">
						<div class="registration__title">¿Quién te recomendó usar Apprevenir?</div>
						<div>
							<mat-form-field class="width-100">
								<mat-label>Seleccione referido</mat-label>
								<mat-select formControlName="client_type" #clientType (selectionChange)="getClients(clientType.value)">
									<mat-option value="{{clientType.key}}" *ngFor="let clientType of clientTypes | keyvalue">
										{{ clientType.value[0] }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div>
							<mat-form-field class="width-100" *ngIf="clients">
								<mat-label>Seleccione cliente</mat-label>
								<mat-select formControlName="client" #clientSelect (selectionChange)="getSelect1(clientSelect.value)">
									<mat-option value="{{i}}" *ngFor="let client of clients; let i = index">
										{{ client.profile.first_names }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div *ngIf="clients">
							<div>
								<mat-form-field class="width-100" *ngIf="selects1">
									<mat-label>{{ label[0] }}</mat-label>
									<mat-select formControlName="selectA" #clientSelect2 (selectionChange)="getSelect2(clientSelect2.value)">
										<mat-option value="{{i}}" *ngFor="let select1 of selects1; let i = index">
											{{ select1[values[0][1]] }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div>
								<mat-form-field class="width-100" *ngIf="selects2">
									<mat-label>{{ label[1] }}</mat-label>
									<mat-select formControlName="selectB" #clientSelect3 (selectionChange)="getSelect3(clientSelect3.value)">
										<mat-option value="{{i}}" *ngFor="let select2 of selects2; let i = index">
											{{ select2[values[1][1]] }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div>
								<mat-form-field class="width-100" *ngIf="selects3">
									<mat-label>{{ label[2] }}</mat-label>
									<mat-select formControlName="selectC">
										<mat-option value="{{i}}" *ngFor="let select3 of selects3; let i = index">
											{{ select3[values[2][1]] }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<ng-template matStepLabel>Información Personal</ng-template>
						<div>
							<div class="registration__title">Información personal</div>
							<mat-form-field class="example-full-width">
								<mat-label>Nombre</mat-label>
								<input type="text" matInput formControlName="first_names" required>
								<mat-error *ngIf="!firstFormGroup.get('first_names').hasError('required')">
									Nombre es <strong>requerido</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="registration__box">
							<mat-form-field class="width-48">
								<mat-label>Primer Apellido</mat-label>
								<input type="text" matInput formControlName="last_name_one">
								<mat-error *ngIf="!firstFormGroup.get('last_name_one').hasError('required')">
									Primer Apellido es <strong>requerido</strong>
								</mat-error>
							</mat-form-field>
							<mat-form-field class="width-48">
								<mat-label>Segundo Apellido</mat-label>
								<input type="text" matInput formControlName="first_name_two">
								<mat-error *ngIf="!firstFormGroup.get('first_name_two').hasError('required')">
									Segundo Apellido es <strong>requerido</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<mat-form-field class="example-full-width">
							<mat-label>Fecha de Nacimiento</mat-label>
							<input matInput [matDatepicker]="picker" formControlName="birthday">
							<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
							<mat-datepicker #picker></mat-datepicker>
						</mat-form-field>
						<div class="registration__gender">Género</div>
						<mat-radio-group aria-label="Select an option" formControlName="gender_id">
							<mat-radio-button [value]="gender.value" *ngFor="let gender of genders">
								{{ gender.gender }}
							</mat-radio-button>
						</mat-radio-group>
						<div>
							<mat-form-field class="width-100">
								<mat-label>Estado Civil</mat-label>
								<mat-select formControlName="civil_status_id">
									<mat-option value="{{civil_status.value}}" *ngFor="let civil_status of civil_statuses">
										{{ civil_status.status }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div>
							<mat-form-field class="width-100">
								<mat-label>Nivel de Estudios</mat-label>
								<mat-select formControlName="education_level_id">
									<mat-option value="{{education.value}}" *ngFor="let education of educations">
										{{ education.education }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="app-flex">
							<button class="btn btn-secondary app-m-right" routerLink="">Anterior</button>
							<button class="btn btn-primary" matStepperNext>Siguiente</button>
						</div>
					</form>
				</mat-step>

				<mat-step [stepControl]="secondFormGroup">
					<form [formGroup]="secondFormGroup">
						<ng-template matStepLabel>Ubicación</ng-template>
						<div>
							<mat-form-field class="width-100">
								<mat-label>País</mat-label>
								<mat-select formControlName="country_id" #country (selectionChange)="getStates(country.value)">
									<mat-option value="{{country.id}}" *ngFor="let country of countries">
										{{ country.name }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div>
							<mat-form-field class="width-100">
								<mat-label>Departamento</mat-label>
								<mat-select formControlName="state_id" #state (selectionChange)="getCities(state.value)">
									<mat-option value="{{state.id}}" *ngFor="let state of states">
										{{ state.name }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div>
							<mat-form-field class="width-100">
								<mat-label>ciudad</mat-label>
								<mat-select formControlName="city_id">
									<mat-option value="{{city.id}}" *ngFor="let city of cities">
										{{ city.name }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="app-flex">
							<button class="btn btn-secondary app-m-right" matStepperPrevious>Anterior</button>
							<button class="btn btn-primary" matStepperNext>Siguiente</button>
						</div>
					</form>
				</mat-step>

				<mat-step>
					<ng-template matStepLabel>Contacto y Acceso</ng-template>
					<form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit()">
						<mat-form-field class="example-full-width">
							<mat-label>Número de Celular</mat-label>
							<input type="phone" matInput formControlName="phone">
						</mat-form-field>
						<mat-form-field class="example-full-width">
							<mat-label>Correo Electronico</mat-label>
							<input type="email" matInput formControlName="email">
						</mat-form-field>
						<div class="registration__box">
							<mat-form-field class="width-48">
								<mat-label>Contraseña</mat-label>
								<input type="password" matInput formControlName="password">
							</mat-form-field>
							<mat-form-field class="width-48">
								<mat-label>Repetir Contraseña</mat-label>
								<input type="password" matInput formControlName="password_confirmation">
							</mat-form-field>
						</div>
						<div class="app-flex">
							<button class="btn btn-secondary app-m-right" matStepperPrevious>Anterior</button>
							<button class="btn btn-primary" type="submit">Registrar</button>
						</div>
					</form>
				</mat-step>
			</mat-horizontal-stepper>
		</div>
	</div>
</div>