body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: auto;
    background-color: var(--color-grey-light);
}

::placeholder {
  color: var(--color-gray-dark-2);
}

ul {
  list-style:none;
}


.inputContainer {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background:var(--color-white);
    border-radius: 8px;
    border: 1px solid var(--color-gray-dark-2);
    height: 50px;
    &:focus {
      outline: none !important;
    }
  
    &__icon {
      margin: 15px;
    }
  
    &__box {
      border: 0;
      padding: 15px;
      flex: 1;
      border-radius: 5px;
      background:var(--color-white);
      outline-style: none !important;
      font-size: 16px;
    }
}
  
.error-field {
  visibility: hidden;
}

.logo-app {
  width: 10rem;
  margin-left: 1.5rem;
}

.burger {
  color: var(--color-normal-grey);
}

.user-text {
  color: var(--color-normal-grey);
  font-family: 'KanitNormal';
  font-size: 15px;
}

.user-bottom {
  color: var(--color-normal-grey);
  font-family: 'KanitNormal';
  font-size: 11px;
  position: absolute;
  bottom: 6rem;
}

.icon-file {
  font-size: 15px;
  height: 15px !important;
}

//Styles for items of the tables 

.inputContainer-search {
  display: inline-flex;
  flex: 1 1 300px;
  position: relative;
  overflow: hidden;
  width: 331px;
  background:var(--color-white);
  border-radius: 8px;
  border: 1px solid var(--color-gray-dark-2);
  height: 36px;
  &:focus {
    outline: none !important;
  }

  &__icon {
    margin: 9px;
  }

  &__box {
    border: 0;
    padding: 10px;
    flex: 1;
    border-radius: 5px;
    background:var(--color-white);
    outline-style: none !important;
    font-size: 13px;
  }
}