.arrow-blue {
  display: flex;
  .arrow-blue__img {
    width: 5rem;
  }
}

.logo {
  width: 30rem;
  position: absolute;
  top: -5rem;
  left: -7rem;
}

//cursor
.app-cursor {
  cursor: pointer;
}

//Margins

.app-m-top {
  margin-top: 1rem;
}
.app-m-top-2 {
  margin-top: 2rem;
}
.app-m-bottom {
  margin-bottom: 1rem;
}
.app-m-right {
  margin-right: 1rem;
}

.app-m-name {
  margin: 0 .7rem;
}

.app-m-left {
  margin-left: 5px;
}

.app-m-left-15 {
  margin-left: 15px;
}

.app-m-rigth {
  margin-right: 10px;
}

//width

.width-48 {
  width: 48% !important;
}

.width-100 {
  width: 100%;
}

.width-icon {
  width: 25px;
  cursor: pointer;
}

//Display

.app-flex {
  display: flex;
}

.color-grey {
  color: #36484F99;
  cursor: pointer;
}

.icon-date {
  color: var(--color-normal-grey);
  font-size: large !important;
}

.icon-live {
  cursor: pointer;
  margin-bottom: 0 !important;
}

.icon-color {
  color: var(--color-gray-dark-2);
}

#modal-width {
  width: 768px;
}
#modal-confidencial-width {
  width: 500px;
}

.terms-modal {
  cursor: pointer;
  text-decoration: underline;
}

.terms-span {
  text-decoration: none;
  color: var(--color-normal-grey);
}