<div class="modal-terms__text modal-test__text">
    <img src="../../../../assets/images/MANO-CORAZON.svg" alt="presentation image">
    <p>
      A continuación, se te harán una serie de preguntas, responde de manera <span>HONESTA</span> así el resultado obtenido será <span>CONFIABLE</span>.
    </p>
    <p>
      Recuerda que tu reporte es <span>COMPLETAMENTE CONFIDENCIAL</span>.
    </p>
  </div>
  <div align="end" class="btn-cancel">
    <button class="btn btn-secondary" [mat-dialog-close]="true">Acentar</button>
  </div>