<!--HOME-->
<div class="admin">
	<h1 class="admin__title app-m-top">Crear usuario del sistema</h1>
	<div class="admin__card">
		<div class="section-two">
			<form [formGroup]="firstFormGroup">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Nombre es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div class="registration__box">
                    <mat-form-field class="width-48">
                        <mat-label>Primer Apellido</mat-label>
                        <input type="email" matInput >
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="width-48">
                        <mat-label>Segundo Apellido</mat-label>
                        <input type="email" matInput>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <mat-form-field class="example-full-width">
					<mat-label>Teléfono</mat-label>
					<input type="number" matInput>
					<img src="./../../../assets/icons/lock_outline.svg" alt="" matSuffix>
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
					<mat-label>Correo electrónico</mat-label>
					<input type="email" matInput>
					<img src="./../../../assets/icons/lock_outline.svg" alt="" matSuffix>
                </mat-form-field>

                <mat-form-field class="example-full-width">
					<mat-label>Contraseña</mat-label>
					<input type="password" matInput>
					<img src="./../../../assets/icons/lock_outline.svg" alt="" matSuffix>
                </mat-form-field>

                <mat-form-field class="example-full-width">
					<mat-label>Contraseña</mat-label>
					<input type="password" matInput>
					<img src="./../../../assets/icons/lock_outline.svg" alt="" matSuffix>
                </mat-form-field>
                
                <div>
                    <mat-form-field class="width-100">
                        <mat-label>Estado Civil</mat-label>
                        <mat-select>
                            <mat-option>
                                option
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="registration__gender">Estado</div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1" class="app-m-right">Activo</mat-radio-button>
                    <mat-radio-button value="2">Inactivo</mat-radio-button>
                </mat-radio-group>
            </form>
            <div style="text-align: right;">
                <button class="btn btn-primary">Guardar</button>
            </div>
		</div>
	</div>
</div>