<!--HOME-->
<div class="admin">
	<h1 class="admin__title app-m-top">Crear cliente</h1>
	<div class="admin__card">
		<div class="admin__box">
			<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
				<div class="admin__sub-title app-m-top">Información General</div>
				<mat-form-field class="width-100">
					<mat-label>Tipo de cliente</mat-label>
					<mat-select formControlName="client">
						<mat-option value="entidades territoriales">Entidades Territoriales</mat-option>
						<mat-option value="secretarias de educacion">Secretarías de Educación</mat-option>
						<mat-option value="instituciones educativas">Instituciones Educativas</mat-option>
						<mat-option value="universidades">Universidades</mat-option>
						<mat-option value="empresas">Empresas</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="width-100">
					<mat-label>Pais</mat-label>
					<mat-select formControlName="country_id" #country (selectionChange)="getStates(country.value)">
						<mat-option value="{{country.id}}" *ngFor="let country of countries">{{ country.name }}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="width-100">
					<mat-label>Departamento</mat-label>
					<mat-select formControlName="state_id" #state (selectionChange)="getCities(state.value)">
						<mat-option value="{{state.id}}" *ngFor="let state of states">{{ state.name }}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="width-100">
					<mat-label>Ciudad</mat-label>
					<mat-select formControlName="city_id">
						<mat-option value="{{city.id}}" *ngFor="let city of cities">{{ city.name }}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="width-100">
					<mat-label>Nombre</mat-label>
					<input type="text" matInput formControlName="first_names">
				</mat-form-field>
				<mat-form-field class="width-100">
					<mat-label>Nit. o C.C.</mat-label>
					<input type="email" matInput>
				</mat-form-field>
				<mat-form-field class="width-100">
					<mat-label>Número de Contacto</mat-label>
					<input type="text" matInput formControlName="phone">
				</mat-form-field>
				<mat-form-field class="width-100">
					<mat-label>Email</mat-label>
					<input type="email" matInput formControlName="email">
				</mat-form-field>
				<mat-form-field class="width-100">
					<mat-label>Password</mat-label>
					<input type="password" matInput formControlName="password">
				</mat-form-field>
				<mat-form-field class="width-100">
					<mat-label>Repetir contraseña</mat-label>
					<input type="password" matInput formControlName="password_confirmation">
				</mat-form-field>
				<mat-form-field class="width-100">
					<mat-label>Logo (200 x 55px)</mat-label>
					<input type="text" matInput>
					<span class="material-icons color-grey " matSuffix>
						cloud_upload
						</span>
				</mat-form-field>
				<mat-form-field class="width-100">
					<mat-label>Color principal</mat-label>
					<input type="text" matInput>
					<span class="material-icons color-grey " matSuffix>
						color_lens
						</span>
				</mat-form-field>
				<div>
					<button class="btn btn-primary app-m-top" type="submit">Guardar</button>
				</div>
			</form>
			<div class="admin__sub-title">Información Específica</div>
			<div class="admin__box-text">
				<div class="admin__text">Comunas y Barrios</div>
				<button mat-mini-fab color="primary" (click)="openDialogCommunes()">
					<mat-icon>add</mat-icon>
				</button>
			</div>
			<table class="test-table">
				<tr class="test-table__header">
				  <th>Comunas</th>
				  <th>Barrios</th>
				  <th>Edición</th>
				</tr>
				<tr>
				  <td>Comuna 1</td>
				  <td>Guayabal</td>
				  <td><span class="material-icons">
					restore_from_trash
					</span>
					<span class="material-icons">
						edit
						</span></td>
				</tr>
				<tr>
				  <td>Comuna 2</td>
				  <td>El Poblado</td>
				  <td><span class="material-icons">
					restore_from_trash
					</span>
					<span class="material-icons">
						edit
						</span></td>
				</tr>
				<tr>
				  <td>Comuna 3</td>
				  <td>Belén</td>
				  <td><span class="material-icons">
					restore_from_trash
					</span>
					<span class="material-icons">
						edit
						</span></td>
				</tr>
			  </table>
			  <div class="admin__box-text">
				<div class="admin__text">Corregimientos y Veredas</div>
				<button mat-mini-fab color="primary" (click)="openDialogCorrection()">
					<mat-icon>add</mat-icon>
				</button>
			</div>
			<table class="test-table">
				<tr class="test-table__header">
				  <th>Corregimiento</th>
				  <th>Veredas</th>
				</tr>
				<tr>
				  <td>San Cristobal</td>
				  <td>Guayabal</td>
				  <td><span class="material-icons">
					restore_from_trash
					</span>
					<span class="material-icons">
						edit
						</span></td>
				</tr>
				<tr>
				  <td>San Antonio de Prado</td>
				  <td>El Poblado</td>
				  <td><span class="material-icons">
					restore_from_trash
					</span>
					<span class="material-icons">
						edit
						</span></td>
				</tr>
			</table>
			<div class="admin__turno">Ingrese las sedes separadas por coma o presionando (Enter)</div>
			<div class="admin__chips">
				<div class="admin__sede">Sedes</div>
				<mat-form-field class="width-100">
					<mat-chip-list #chipList aria-label="User selection">
						<mat-chip  [selectable]="selectable" [removable]="removable">
							Medellín
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<mat-chip  [selectable]="selectable" [removable]="removable">
							Ríonegro
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</mat-form-field>
			</div>
			<div class="admin__turno">Ingrese las áreas separadas por coma o presionando (Enter)</div>
			<div class="admin__chips">
				<div class="admin__sede">Áreas</div>
				<mat-form-field class="width-100">
					<mat-chip-list #chipList aria-label="User selection">
						<mat-chip  [selectable]="selectable" [removable]="removable">
							Producción
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<mat-chip  [selectable]="selectable" [removable]="removable">
							Administrativa
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<mat-chip  [selectable]="selectable" [removable]="removable">
							Puntos de Venta
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</mat-form-field>
			</div>
			<div class="admin__turno">Ingrese los turnos separados por coma o presionando (Enter)</div>
			<div class="admin__chips">
				<div class="admin__sede">Turnos</div>
				<mat-form-field class="width-100">
					<mat-chip-list #chipList aria-label="User selection">
						<mat-chip  [selectable]="selectable" [removable]="removable">
							8 - 12
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<mat-chip  [selectable]="selectable" [removable]="removable">
							1 - 7
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<mat-chip  [selectable]="selectable" [removable]="removable">
							Nocturna
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</mat-form-field>
			</div>
			<div class="admin__turno">Ingrese las instituciones educativas separadas por coma o presionando (Enter)</div>
			<div class="admin__chips">
				<div class="admin__sede">Instituciones educativas</div>
				<mat-form-field class="width-100">
					<mat-chip-list #chipList aria-label="User selection">
						<mat-chip  [selectable]="selectable" [removable]="removable">
							I.E. CEFA
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<mat-chip  [selectable]="selectable" [removable]="removable">
							Ferrini
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<mat-chip  [selectable]="selectable" [removable]="removable">
							I.E. INEM
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<mat-chip  [selectable]="selectable" [removable]="removable">
							I.E Manuela Restrepo
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</mat-form-field>
			</div>

			<div class="admin__title app-m-bottom">Tests habilitados</div>
			<section class="app-flex" style="   justify-content: space-between;">
				<div>
					<div><mat-checkbox color="primary" class="example-margin">Alcohol</mat-checkbox></div>
					<div><mat-checkbox color="primary" class="example-margin">Ludopatía</mat-checkbox></div>
					<div><mat-checkbox color="primary" class="example-margin">Sexo</mat-checkbox></div>
					<div><mat-checkbox color="primary" class="example-margin">Depresión</mat-checkbox></div>
				</div>
				<div>
					<div><mat-checkbox color="primary" class="example-margin">Drogas</mat-checkbox></div>
					<div><mat-checkbox color="primary" class="example-margin">Redes sociales</mat-checkbox></div>
					<div><mat-checkbox color="primary" class="example-margin">Trabajo</mat-checkbox></div>
					<div><mat-checkbox color="primary" class="example-margin">Riesgo</mat-checkbox></div>
				</div>
				<div>
					<div><mat-checkbox color="primary" class="example-margin">Tabaco</mat-checkbox></div>
					<div><mat-checkbox color="primary" class="example-margin">Tecnologías</mat-checkbox></div>
					<div><mat-checkbox color="primary" class="example-margin">Compras</mat-checkbox></div>
					<div><mat-checkbox color="primary" class="example-margin">Etapas de Cambio</mat-checkbox></div>
				</div>
		
				<div>
					<div><mat-checkbox color="primary" class="example-margin">Inhalables</mat-checkbox></div>
					<div><mat-checkbox color="primary" class="example-margin">Dependencia</mat-checkbox></div>
					<div><mat-checkbox color="primary" class="example-margin">Ansiedad</mat-checkbox></div>
				</div>

			</section>

			
		</div>
	</div>
</div>