<div>
    <div class="admin__text">Añadir Corregimientos</div>
    <mat-form-field class="example-full-width">
        <mat-label>Nombre del corregimiento</mat-label>
        <input matInput placeholder="Nombre del corregimiento">
    </mat-form-field>
    <chip-input 
        description="Ingrese las veredas separadas por coma o presionando (Enter)" 
        title="Veredas"
        [options]="possibleAreas"
        formKey="selectedAreas"
        placeholder="Veredas">
    </chip-input>
    <div style="text-align: right;">
        <button class="btn btn-primary app-m-top" type="submit">Añadir</button>
    </div>
</div>
