<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon (click)="drawer.toggle()">menu</mat-icon>
    </button>
    <span>Logo Apprevenir</span>
    <span class="example-spacer"></span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon><label>Nombre Usuario</label>
    
  </mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Inicio</p>
      <p>Más sobre Apprevenir</p>
      <p>Contáctanos</p>
    </mat-drawer>
</mat-drawer-container>