<div class="test-admin">
	<div class="test-admin__box">
		<h1 class="test-admin__title app-m-top">Test realizados</h1>
		<button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
			<mat-icon>add</mat-icon>
		</button>
	</div>
	<div class="test-admin__card">

		<div class="test-admin__box">
			<div class="home__search">
				<div class="inputContainer-search">
					<img alt="PersonIcon" src="../../../assets/icons/search_baseline.svg" class="inputContainer-search__icon" />
					<input
					class="inputContainer-search__box"
					type="text"
					placeholder="Palabra clave"
					/>
				</div>
			</div>
			<div align="end" class="btn-cancel">
				<button class="btn btn-file app-m-right" mat-dialog-close><mat-icon class="icon-file">description</mat-icon>Excel</button>
				<button class="btn btn-file" mat-dialog-close><mat-icon class="icon-file">picture_as_pdf</mat-icon>PDF</button>
			</div>
		</div>

		<table mat-table [dataSource]="dataSource" matSort matSortActive="position" matSortDisableClear matSortDirection="desc" >
			<ng-container matColumnDef="idUser">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Id Usuario</th>
			<td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
			</ng-container>
			<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Id</th>
			<td mat-cell *matCellDef="let element"> {{element.id}} </td>
			</ng-container>
			<ng-container matColumnDef="test">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Test</th>
			<td mat-cell *matCellDef="let element"> {{element.testName}} </td>
			</ng-container>
			<ng-container matColumnDef="date">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Fecha</th>
			<td mat-cell *matCellDef="let element"> {{element.date}} </td>
			</ng-container>
			<ng-container matColumnDef="time">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Hora</th>
			<td mat-cell *matCellDef="let element"> {{element.time}} </td>
			</ng-container>
			<ng-container matColumnDef="user">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Usuario</th>
			<td mat-cell *matCellDef="let element"> {{element.user.profile.first_names}} {{element.user.profile.last_names}}</td>
			</ng-container>
			<ng-container matColumnDef="city">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Ciudad</th>
			<td mat-cell *matCellDef="let element"> <div *ngIf="element.user.profile.city">{{element.user.profile.city.name}}</div> </td>
			</ng-container>
			<ng-container matColumnDef="level">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Nivel</th>
			<td mat-cell *matCellDef="let element">
				<mat-chip-list aria-label="Fish selection" class="mat-test">
					<mat-chip [ngStyle]=setStyle(element.resultLevel) selected>{{element.resultLevel}}</mat-chip>
				</mat-chip-list>
			</ng-container>
			<ng-container matColumnDef="icon">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Respuestas</th>
			<td mat-cell *matCellDef="let element">
				<mat-icon fontSet="material-icons-outlined" (click)="openDialogTestModal(element)">live_help</mat-icon>
			</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
  	</div>
</div>