<div class="login">
	<div class="login__section-one">
		<div class="section-one">
			<img alt="PersonIcon" src="../../../assets/logo/LOGO-COLOR-BLANCO.svg" class="logo-login" />
		</div>
		<img alt="PersonIcon" src="../../../assets/bg/appevenir-home-login.svg" class="logo-bg" />
	</div>
	<div class="login__section-two">
		<div class="section-two">
			<div class="section-two__title">Restablecer la contraseña</div>
			<form class="example-form">
				<mat-form-field class="example-full-width">
					<mat-label>Nueva contraseña</mat-label>
					<input type="email" matInput>
					<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
						8 caracteres como mínimo distingue mayúsculas de minúsculas.
					</mat-error>
					<mat-error *ngIf="emailFormControl.hasError('required')">
						Contraseña <strong>es requerida</strong>
					</mat-error>
					<img src="./../../../assets/icons/email_outline.svg" alt="" matSuffix>
				</mat-form-field>

                <mat-form-field class="example-full-width">
					<mat-label>Vuelva a escribir la contraseña</mat-label>
					<input type="email" matInput>
					<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
						8 caracteres como mínimo distingue mayúsculas de minúsculas.
					</mat-error>
					<mat-error *ngIf="emailFormControl.hasError('required')">
						Contraseña <strong>es requerida</strong>
					</mat-error>
					<img src="./../../../assets/icons/email_outline.svg" alt="" matSuffix>
				</mat-form-field>
				<div>
					<button class="btn btn-primary width-100" routerLink="/">Enviar</button>
					<button class="btn btn-secondary app-m-top width-100" routerLink="/">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>