.test {
	&__content {
		height: 370px;
		background-color: var(--color-primary);
	}
	&__box {
		width: 710px;
		height: auto;
		overflow: auto;
		border-radius: 10px;
		margin: 0 auto;
		background-color: var(--color-white);
		position: absolute;
		left: 0;
		right: 0;
		padding: 30px;
	}
	&__info {
		width: 768px;
		margin: 0 auto;
		padding-top: 2rem;
		position: relative;
	}
	&__person {
		position: absolute;
    	top: 0;
		right: 0;
		width: 315px;
	}
	&__title {
        color: var(--color-white);
        font-size: 17px;
        font-family: 'KanitMedium';
    }
    &__text {
        color: var(--color-white);
        font-size: 35px;
        font-family: 'KanitMedium';
	}
	&__flex {
		display: flex;
		margin-bottom: 1rem;
	}
	&__icon {
		cursor: pointer;
	}
	&__ask{
		display: flex;
		align-items: center;
	}
	&__number {
		color: var(--color-gray-dark-2);
        font-size: 48px;
		font-family: 'KanitMedium';
		margin-right: 20px;
	}
	&__question {
		color: var(--color-normal-grey);
        font-size: 24px;
		font-family: 'FiratRegular';
	}
	&__radio {
		display: flex;
		flex-direction: column;
		margin: 0px 35px;
	}
	&__label {
		color: var(--color-primary);
        font-size: 24px;
		font-family: 'KanitMedium';
		margin: 0 10px;
	}
	&__radio-flex {
		display: flex;
		flex-direction: column;
		color: var(--color-normal-grey);
	}
	&__tab {
        height: 573px;
        display: flex;
        justify-content: center;
    }
    &__type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		position: relative;
    }
	&__result {
		font-size: 60px;
		font-family: 'KanitMedium';
	}
	&__mat-label {
		height: 100px !important;

	}
	&__school {
		display: flex;
    	align-items: center;
		justify-content: flex-start;
		.mat-icon {
			margin-bottom: 0;
			margin-right: 10px;
			color: var(--color-gray-dark-2);
		}
		&__interest {
			color: var(--color-primary);
			text-decoration: underline;
		}
	}
	&__ico {
		position: absolute;
		top: 138px;
		right: 3rem;
		color: var(--color-gray-dark-2);
	}
	&__info-text {
		color: #3E6472;
		font-size: 16px;
		font-family: 'KanitNormal';
		position: absolute;
	}
	&__info-box {
		width: 87%;
		margin-top: 2rem;
	}
}

.addiction {
	font-size: 15px;
}

.app-flex {
	margin-top: 3rem;
}

