<div class="test">
	<div class="test__content">
		<div class="test__info">
			<img alt="PersonIcon" src="../../../assets/icons/close_twotone.svg" class="inputContainer__icon" />
			<div>Test</div>
			<div>
				<div>Dependencia Emocional</div>
				<img alt="PersonIcon" src="../../../assets/icons/email_outline.svg" class="inputContainer__icon" />
			</div>
			<img alt="PersonIcon" src="../../../assets/bg/apprevenir-ludopatia.png" class="test__person" />
		</div>
		<div class="test__box"></div>
	</div>
</div>
