<div>
    <div class="admin__text">Añadir Comuna</div>
    <mat-form-field class="example-full-width">
        <mat-label>Nombre de la comuna</mat-label>
        <input matInput placeholder="Nombre de la comuna">
    </mat-form-field>
    <chip-input 
        description="Ingrese los barrios separados por coma o presionando (Enter)" 
        title="Barrios"
        [options]="possibleAreas"
        formKey="selectedAreas"
        placeholder="Barrios">
    </chip-input>
    <div style="text-align: right;">
        <button class="btn btn-primary app-m-top" type="submit">Añadir</button>
    </div>
</div>
