<div class="modal-home">
  <mat-dialog-content class="mat-typography">
  <div class="modal-home__bg">
    <div class="modal-home__flex">
      <div class="modal-home__site">
        <div class="modal-home__title">TEST</div>
        <div class="modal-home__box">
          <div class="modal-home__text">Dependencia Emocional</div>
          <img alt="PersonIcon" src="../../../assets/icons/email_outline.svg" class="inputContainer__icon" />
        </div>
      </div>
      <div class="modal-home__site-b">
        <img alt="PersonIcon" src="../../../assets/bg/apprevenir-ludopatia.png" class="test__person" />
      </div>
    </div>
  </div>
  </mat-dialog-content>
  <div class="modal-home__para">
    <div class="modal-home__grey">
      La dependencia emocional se define como un patrón persistente de necesidades emocionales 
      insatisfechas que se intentan cubrir de una forma desadaptativa con otras personas (Castelló, 2000).
    </div>
    <div class="modal-home__grey"> 
      Es una necesidad afectiva extrema que una persona siente hacia otra. Según algunos autores la dependencia emocional afectaría a un 10% de la población. 
    </div>
    <div class="modal-home__grey">
      Es más frecuente encontrar este trastorno en mujeres que en hombres (75%). Es posible que esta diferencia se deba tanto a factores culturales (en el caso de la mujer existe una tendencia a la empatía y la vinculación afectiva) como biológicos. 
    </div>
    <div class="modal-home__grey">
      En la práctica clínica, la dependencia a la pareja es la que genera más demanda, pero se puede dar en otras relaciones como con los hijos o con los progenitores, etc.
    </div>
    <div class="modal-home__bold">Señales de alarma</div>
    <div class="modal-home__grey">No ser capaz de poner fin a una relación de pareja negativa.</div>
    <div class="modal-home__grey">Aguantar y justificar a la pareja aun teniendo un comportamiento violento, poco afectivo, etc.</div>
    <div class="modal-home__grey">Pensar en cambiar la forma de actuar o de comportarse de la pareja.</div>
    <div class="modal-home__grey">Sentir atracción por hombres distantes, fríos, poco afectivos.</div>
    <div class="modal-home__grey">Vivir en una constante ansiedad y cada día esforzarse por conseguir la aprobación de la pareja.</div>
    <div class="modal-home__grey">Pensar que amar es sufrir.</div>
    <div class="modal-home__grey">Creer que la culpa de que la pareja actúe de un modo incorrecto es culpa de la persona que presenta el trastorno de dependencia emocional.</div>
    <div class="modal-home__grey">(Tomado de: http://www.ais-info.org/dependenciaemocional.html)</div>
  </div>
  <div align="end" class="btn-cancel">
    <button class="btn btn-secondary" mat-dialog-close>Cerrar</button>
  </div>
</div>