<div class="modal-home">
  <mat-dialog-content class="mat-typography">
  <div class="modal-home__bg">
    <div class="modal-home__flex">
      <div class="modal-home__site">
        <div class="modal-home__title">TEST</div>
        <div class="modal-home__box">
          <div class="modal-home__text">Dependencia Emocional</div>
          <img alt="PersonIcon" src="../../../assets/icons/email_outline.svg" class="inputContainer__icon" />
        </div>
      </div>
      <div class="modal-home__site-b">
        <img alt="PersonIcon" src="../../../assets/bg/apprevenir-ludopatia.png" class="test__person" />
      </div>
    </div>
  </div>
  </mat-dialog-content>
  <div align="end">
    <button class="btn btn-secondary">Cerrar</button>
  </div>
</div>