<!--Navbar-->
<mat-toolbar >
    <mat-icon (click)="drawer.toggle()" class="burger app-cursor">menu</mat-icon>
    <img alt="Logo" src="../../../assets/bg/COLOR-BORDE.svg" class="logo-app" />
    <span class="example-spacer"></span>
    <img src="../../../assets/icons/accountcircle_outline.svg" alt=""> <label class="user-text app-m-name"> Nombre de usuario</label>
    <mat-icon [matMenuTriggerFor]="menu" class="burger app-cursor">keyboard_arrow_down</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="admin">
                <img src="../../../assets/icons/settings_outline.svg" alt="">
                <span class="user-text app-m-left-15">Administrar</span>
            </button>
            <button mat-menu-item>
                <img src="../../../assets/icons/accountcircle_outline.svg" alt="">
                <span class="user-text app-m-left-15">Mi perfil</span>
            </button>
            <button mat-menu-item>
                <img src="../../../assets/icons/logout_baseline.svg" alt="" class="app-m-left">
                <span class="user-text app-m-left-15">Cerrar sesión</span>
            </button>
        </mat-menu>
    
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div *ngIf="userIsAdmin" class="navigation-list">
            <button color="primary" mat-button><mat-icon aria-hidden="false">tv</mat-icon> Escritorio</button>
            <button color="primary" mat-button><mat-icon aria-hidden="false">person_pin</mat-icon> Usuarios finales</button>
            <button color="primary" mat-button><mat-icon aria-hidden="false">help_center</mat-icon> Test</button>
            <button color="primary" mat-button><mat-icon aria-hidden="false">content_paste</mat-icon> Informes</button>
            
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                  <!-- use a disabled button to provide padding for tree leaf -->
                  <button mat-icon-button disabled></button>
                  {{node.name}}
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                  <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{node.icon}}
                    </mat-icon>
                  </button>
                  {{node.name}}
                </mat-tree-node>
              </mat-tree>
            <p class="user-text user-link"><span class="material-icons">refresh</span>Apprevenir.com</p>
            <p class="user-bottom">© 2020. Universidad Católica Luis Amigó</p>
        </div>
        <div *ngIf="!userIsAdmin">
            <a href="" target="_blank" class="user-text">Inicio</a>
            <a href="https://apprevenir.com/conocenos/" target="_blank" class="user-text">Más sobre Apprevenir</a>
            <a href="https://apprevenir.com/contactanos/" target="_blank" class="user-text">Contáctanos</a>
            <p class="user-bottom">© 2020. Universidad Católica Luis Amigó</p>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
