@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'scss/base/base';
@import 'scss/base/typography';
@import 'scss/base/utilities';
@import 'scss/base/mixin';
@import 'scss/base/responsive';

@import 'scss/variables/colors';

@import 'scss/components/mat-input';
@import 'scss/components/mat-navbar';
@import 'scss/components/mat-card';
@import 'scss/components/mat-steps';
@import 'scss/components/mat-radio';
@import 'scss/components/mat-calendar';
@import 'scss/components/mat-modal';
@import 'scss/components/mat-table';
@import 'scss/components/mat-chips';
@import 'scss/components/sweetAlert';
@import 'scss/components/mat-paginator';