<!--Navbar-->
<mat-toolbar>
	<mat-icon (click)="drawer.toggle()" class="burger app-cursor">menu</mat-icon>
	<img alt="Logo" src="../../../assets/bg/COLOR-BORDE.svg" class="logo-app" />
	<span class="example-spacer"></span>
	<img src="../../../assets/icons/accountcircle_outline.svg" alt=""> <label class="user-text app-m-name"> Nombre de usuario</label>
	<mat-icon [matMenuTriggerFor]="menu" class="burger app-cursor">keyboard_arrow_down</mat-icon>
	  <mat-menu #menu="matMenu">
			<button mat-menu-item routerLink="/admin">
				<img src="../../../assets/icons/settings_outline.svg" alt="">
				<span class="user-text app-m-left-15">Administrar</span>
			</button>
			<button mat-menu-item>
				<img src="../../../assets/icons/accountcircle_outline.svg" alt="">
				<span class="user-text app-m-left-15">Mi perfil</span>
			</button>
			<button mat-menu-item>
				<img src="../../../assets/icons/logout_baseline.svg" alt="" class="app-m-left">
				<span class="user-text app-m-left-15">Cerrar sesión</span>
			</button>
	  </mat-menu>
	
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
	<mat-drawer #drawer class="example-sidenav" mode="side">
		<p class="user-text">Inicio</p>
		<p class="user-text">Más sobre Apprevenir</p>
		<p class="user-text">Contáctanos</p>
		<p class="user-bottom">© 2020. Universidad Católica Luis Amigó</p>
	</mat-drawer>
</mat-drawer-container>

<!--HOME-->
<div class="home">
	<h1 class="home__title">Por favor elije un test</h1>
	<div class="home__search">
		<div class="inputContainer">
			<img alt="PersonIcon" src="../../../assets/icons/search_baseline.svg" class="inputContainer__icon" />
			<input
			class="inputContainer__box"
			type="text"
			placeholder="Drogas, alcohol, depresión"
			/>
		</div>
	</div>
	<div class="card__content">
		<div class="card__item">
			<div class="card__img">
				<img src="../../../assets/icons/helpoutline_baseline.svg" alt="" (click)="openDialog()">
			</div>
			<div class="card__risk">RIESGO, CAMBIO Y COADICIÓN</div>
			<div class="card__text">Dependencia emocional</div>
			<img src="../../../assets/bg/apprevenir-ludopatia.png" alt="man" class="card__img-man">
			<button class="btn btn-primary">Hacer test</button>
		</div>
		<div class="card__item">
			<div class="card__img">
					<img src="../../../assets/icons/helpoutline_baseline.svg" alt="">
			</div>
			<div class="card__risk">RIESGO, CAMBIO Y COADICIÓN</div>
			<div class="card__text">Dependencia emocional</div>
			<img src="../../../assets/bg/apprevenir-ludopatia.png" alt="man" class="card__img-man">
			<button class="btn btn-primary">Hacer test</button>
		</div>
		<div class="card__item">
			<div class="card__img">
					<img src="../../../assets/icons/helpoutline_baseline.svg" alt="">
			</div>
			<div class="card__risk">RIESGO, CAMBIO Y COADICIÓN</div>
			<div class="card__text">Dependencia emocional</div>
			<img src="../../../assets/bg/apprevenir-ludopatia.png" alt="man" class="card__img-man">
			<button class="btn btn-primary">Hacer test</button>
		</div>
		<div class="card__item">
			<div class="card__img">
					<img src="../../../assets/icons/helpoutline_baseline.svg" alt="">
			</div>
			<div class="card__risk">RIESGO, CAMBIO Y COADICIÓN</div>
			<div class="card__text">Dependencia emocional</div>
			<img src="../../../assets/bg/apprevenir-ludopatia.png" alt="man" class="card__img-man">
			<button class="btn btn-primary">Hacer test</button>
		</div>
		<div class="card__item">
			<div class="card__img">
					<img src="../../../assets/icons/helpoutline_baseline.svg" alt="">
			</div>
			<div class="card__risk">RIESGO, CAMBIO Y COADICIÓN</div>
			<div class="card__text">Dependencia emocional</div>
			<img src="../../../assets/bg/apprevenir-ludopatia.png" alt="man" class="card__img-man">
			<button class="btn btn-primary">Hacer test</button>
		</div>
	</div>
</div>