
.user-link {
    display: flex;
    align-items: center;
    span {
        color: var(--color-primary);
        margin-right: 15px;
        font-size: 20px;
    }

    &__left {
        margin-left: 40px;
    }
}
.admin {
    margin: 0 auto;
    width: 1050px;
    margin-top: 8rem;
    &__title {
        color: var(--color-normal-grey);
        font-family: "KanitNormal";
        font-size: 24px;
    }
    &__sub-title {
        color: var(--color-normal-grey);
        font-family: "KanitMedium";
        font-size: 24px;
    }
    &__search {
        width: 608px;
        margin: 0 auto;

        .inputContainer {
            border: none;
        }
    }

    &__card {
        height: auto;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #26A79E26;
        overflow: auto;
        margin-bottom: 5rem;
        border-radius: 10px;
        padding-bottom: 5rem;
    }

    &__box {
        width: 550px;
        margin: 0 auto;
    }
    &__text {
        color: var(--color-normal-grey);
        font-family: 'kanitRegular';
        font-size: 18px;
        margin: 1rem 0;
    }
    .mat-chip.mat-standard-chip {
        background-color:#DDE6E5;
        color:#3E6472;
    }

    .mat-form-field-flex {
        border: 1px solid #009E9E;
        border-radius: 8px;
    }

    &__turno {
        color: var(--color-normal-grey);
        font-family: 'FiratRegular';
        font-size: 16px;
        margin: 1rem 0;
    }
    &__sede {
        color: #009E9E;
        font-family: 'FiratRegular';
        font-size: 13px;
    }

    &__cliente {
        display: flex;
        justify-content: space-between;
        background: #26A79E12;
        border-radius: 8px;
        color: #3E6472;
        height: 50px;
        font-family: 'FiratRegular';
        align-items: center;
         padding: 0 10px;
         cursor: pointer;
         margin: 1rem 0;
    }
    &__university {
        color: var(--color-normal-grey);
        font-family: 'FiratRegular';
        font-size: 16px;
    }
    &__label-text {
        color: var(--color-error);
        font-style: italic;
    }
    &__span {
        color: var(--color-error);
        font-weight: bold;
    }

    &__box-text {
        display: flex;
        justify-content: space-between;
    }

    &__tests-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        > mat-checkbox {
            color: var(--color-normal-grey);
            font-family: "FiratRegular";
            font-size: 16px;
        }
    }
}

.manual-error-label {
    font-size: 75%;
    color: #f44336;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}

.test-table {
    border: 1px solid #4A657080;
    border-radius: 10px;
    width: 100%;
    color: #4A657080;
    font-family: "KanitNormal";
    font-size: 15px;
    padding: 1rem;
    margin-bottom: 3rem;
    padding: 10px 0;

th {
    text-align: left;
}

}

.example-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.example-margin {
    color: var(--color-normal-grey);
    font-family: "FiratRegular";
    font-size: 16px;
}

