<div class="admin__turno">{{description}}</div>
<mat-form-field class="example-chip-list">
    <mat-label>{{title}}</mat-label>
    <mat-chip-list #chipList>
        <mat-chip
            *ngFor="let option of selectedOptions"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeOption(option)">
            {{option.label}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
            placeholder="{{placeholder}}..."
            #optionInput
            [formControl]="inputControl"     
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedOption($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.label}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>